@model IEnumerable<DMartMallSoftware.Models.ProductModel>

@{
    ViewData["Title"] = "ShowAllStock";
}

<h1>Show All Stock</h1>

<p>
    <a asp-action="AddProduct">Add New Product In Stock</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SrNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quentity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscountPerc) <span>(in %)</span>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SrNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quentity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountPerc)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditProduct", new { Id=item.Id  }) |
                    @Html.ActionLink("Details", "Details", new { Id=item.Id }) |
                    @Html.ActionLink("Delete", "DeleteProduct", new { Id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
