@model IEnumerable<DMartMallSoftware.Models.CustomerModelV1>

@{
    ViewData["Title"] = "AllCustomers";
}

<h1>Show All Customers</h1>
<hr />
<p>
    <a class="btn btn-primary" asp-controller="Customer" asp-action="AddCustomerDetail">Add New Customer</a>
</p>
@if (TempData["AddCust"] != null)
{
    <div class="alert alert-success">
        <strong>Success !</strong> @TempData["AddCust"]
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert">
        </button>
    </div>
}
@if (TempData["EditCustomer"] != null)
{
    <div class="alert alert-success">
        <strong>Success !</strong> @TempData["EditCustomer"]
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert">
        </button>
    </div>
}
@if (TempData["AddCustFail"] != null)
{
    <div class="alert alert-danger">
        <strong>Unsuccess !</strong> @TempData["AddCustFail"]
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert">
        </button>
    </div>
}
@if (TempData["CancelCust"] != null)
{
    <div class="alert alert-success">
        <strong>Success !</strong> @TempData["CancelCust"]
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert">
        </button>
    </div>
}
@if (TempData["CancelCustFail"] != null)
{
    <div class="alert alert-danger">
        <strong>Unsuccess !</strong> @TempData["CancelCustFail"]
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert">
        </button>
    </div>
}
<hr />
<div class="row">
    <div class="col-md-12">
        <form method="get" action="AllCustomers">
            <table class="table text-center">
                <tr>
                    <td class=""><input type="text" id="searchText" name="searchText" class="form-control" placeholder="Enter Mobile No..." /></td>

                    <td class=""><input type="submit" class="btn btn-primary ms-5" name="Search" value="Search" /></td>
                </tr>
            </table>
        </form>
    </div>
</div>
<br />

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SrNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SrNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MobileNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditCustomer", new { Id=item.Id }, new{ @class="btn btn-primary"})

                    @Html.ActionLink("Details", "CustomerDetails", new { CustId=item.Id }, new{ @class="btn btn-success"})

                    @{
                        var x = ("abcde" + item.Id).ToString();
                        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#@x">Delete</button>
                        <div class="modal" id="@x">
                            <div class="modal-dialog modal-md modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header ">
                                        <b>Delete Customer?</b>
                                        <button class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>
                                    <div class="modal-body">
                                        <h4 class="text-warning ">Are You Sure To Delete Customer @Html.DisplayFor(modelItem => item.Name)?</h4>
                                    </div>
                                    <div class="modal-footer">
                                        @Html.ActionLink("Delete", "CancelCustomer", new { Id=item.Id }, new{ @class="btn btn-danger" })
                                    </div>
                                </div>

                            </div>
                        </div>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>

