@model IEnumerable<DMartMallSoftware.Models.StaffModel>

@{
    ViewData["Title"] = "ShowAllStaff";

    var item1 = Model.ToList();

}

@if (TempData["Memberupdate"] != null)
{
    <div class="alert alert-success">
        <strong>Success !</strong> @TempData["Memberupdate"]
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert">
        </button>
    </div>
}

@if (TempData["DeleteMember"] != null)
{
    <div class="alert alert-success">
        <strong>Success !</strong> @TempData["DeleteMember"]
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert">
        </button>
    </div>
}

<h1>All Staff Members</h1>
<hr />
<div class="row">
    <div class="col-md-12">
        <form method="get" action="ShowAllStaff">
            <table class="table text-center">
                <tr>
                    <td class=""><input type="text" id="Name" name="Name" class="form-control" placeholder="Enter Name..." /></td>

                    <td class="">
                        <select class="form-control" id="TextId" name="TextId" asp-items="@(new SelectList(ViewBag.UTypes,"Id","UserType"))">
                        </select>
                    </td>
                    <td class="">
                        <select name="IsConfirmed" id="IsConfirmed" class="form-control">
                            <option value="Select">Is Confirmed</option>
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                    </td>
                    <td class=""><input type="submit" class="btn btn-primary ms-5" name="Search" value="Search" /></td>
                </tr>
            </table>
        </form>
    </div>
</div>
<br />
@if (item1.Count == 0)
{
    <table class="table table-bordered table-striped text-center alert-danger ">
        <thead>
            <tr>
                <th>
                    <h3 class="text-danger">Record Not Found !</h3>
                </th>
            </tr>
        </thead>
    </table>
}
else
{
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SrNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MobileNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsConfirmed)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AprovedBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.JoinDate)
                </th>

                <th>Action</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SrNo )
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MobileNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsConfirmed)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AprovedBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JoinDate)
                    </td>

                    <td>
                        @Html.ActionLink("Edit", "Edit", new { Id=item.Id }, new{ @class="btn btn-primary" })

                        @{
                            var x = ("abc" + item.Id).ToString();
                            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#@x">Delete</button>
                            <div class="modal" id="@x">
                                <div class="modal-dialog modal-md modal-dialog-centered modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header ">
                                            <b> Delete Staff Member?</b>
                                            <button class="btn-close" data-bs-dismiss="modal"></button>
                                        </div>
                                        <div class="modal-body">
                                            <h4 class="text-warning ">Are You Sure To Delete Staff Member @Html.DisplayFor(modelItem => item.Name)?</h4>
                                        </div>
                                        <div class="modal-footer">
                                            @Html.ActionLink("Delete", "DeleteMember", new { Id=item.Id }, new{ @class="btn btn-danger" })
                                        </div>
                                    </div>

                                </div>
                            </div>
                        }

                    </td>
                </tr>
            }



        </tbody>
    </table>
}